%h1
  About

%p
  I'm currently living in Montreal, studying towards a Software Engineering degree at
  %a{ :href => "http://www.mcgill.ca", :target => "_blank" } McGill University.
  \ I have been doing web development for over 6 years now, starting with PHP and then moving to database backed web applications with MySQL. For the past 3 years, I've been working with Ruby on Rails professionally for creating web applications, but have worked with many other languages and technologies throughout my own explorations and university studies.

%p
  In terms of development, I'm a strong believer in
  %a{ :href => "http://en.wikipedia.org/wiki/Test_driven_development", :target => "_blank" } Test
  \/
  %a{ :href => "http://en.wikipedia.org/wiki/Behavior_Driven_Development", :target => "_blank" } Behavior
  Driven Development, writing DRY code (see wise words on the right), and the use of frameworks. I'm a strong opponent against the
  %a{ :href => "http://en.wikipedia.org/wiki/Waterfall_model", :target => "_blank" } waterfall development model
  for the majority of projects (although it is required in very rare cases), and instead opt for more iterative approaches like
  %a{ :href => "http://en.wikipedia.org/wiki/Agile_software_development", :target => "_blank" } agile
  or
  %a{ :href => "http://en.wikipedia.org/wiki/Scrum_(development)", :target => "_blank" } scrum
  \.

%p
  Project management and design is where I hope to expand my career more towards, but I also enjoy development just as much.

%p
  Please refer to the other sections of my portfolio, and feel free to
  %a{ :href => "#", :onclick => "$.scrollTo( '#contact', 1000 );" } contact me
  with the information below if you have any questions.
