%h1
  Work

.block
  %a{ :href => "/images/support.png", :title => "Interfacing Knowledge Center: Issue tracking focused towards clients.", :rel => "lightbox" }
    %img{ :src => "/images/support.png", :height => "100", :align => "left", :alt => "Interfacing Knowledge Center", :width => "100" }/

  %span.title
    Interfacing Knowledge Center
  %p
    I was contracted to design and develop an issue tracking system for Interfacing, a software company based in Montreal. Interfacing was looking to build a solution to provide their clients with a more direct line of support, by allowing them to report bugs and get live updates and patches through an online system. My main responsibility was project management, however I was also responsible for design, and a significant portion of the development. The project was implemented with a heavily modified version of
    %a{ :href => "http://www.redmine.org", :target => "_blank" } Redmine
    for the base of the application, and a Flex front end for the client portal that called on web services from Redmine to populate the data. The contract was completed on time, on budget, and according to specifications.
  .expandable
    %p
      The tools and technologies used in this project included:
    %ul
      %li
        Ruby on Rails
      %li
        MySQL
      %li
        Adobe Flex
      %li
        Rspec
      %li
        Git / Github
      %li
        Capistrano
      %li
        WSDL Web Services
      %li
        %a{ :href => "http://www.sugarcrm.com/crm/", :target => "_blank" } Sugar CRM integration

.block
  %a{ :href => "/images/voffice.jpg", :title => "Virtual Office: Meeting Room - Company collaboration tool.", :rel => "lightbox" }
    %img{ :src => "/images/voffice.jpg", :height => "100", :align => "left", :alt => "Virtual Office: Meeting Room", :width => "100" }/

  %span.title
    Virtual Office: Meeting Room
  %p
    For the senior design project of my university degree, my group was tasked with creating a web application for businesses similar to Campfire within one semester. The idea was to create a type of company meeting room where employees and clients can meet up to discuss, share files, show powerpoint presentations and use a whiteboard. I recommended the use of Ruby on Rails, and due to my experience, I was the de facto lead developer. Although aesthetically crude, I had a chance to implement push server technology (Juggernaut plugin for Ruby on Rails) and many other interesting AJAX functionality.
