%h1
  Skills and Tools

%h2
  Web Development

%ul
  %li
    %a{ :href => "http://rubyonrails.org/", :target => "_blank" } Ruby on Rails:
    web framework
  %li
    %a{ :href => "http://rspec.info/", :target => "_blank" } Rspec:
    Behavior Driven Development (BDD) framework
  %li
    %a{ :href => "http://www.mysql.com/", :target => "_blank" } MySQL:
    open source database
  %li
    %a{ :href => "http://php.net/", :target => "_blank" } PHP:
    web development scripting language
  %li
    %a{ :href => "#" } AJAX / Javascript:
    interactive web application technology
  %li
    %a{ :href => "#" } XHTML, CSS:
    web technologies
  %li
    %a{ :href => "#" } REST, SOAP:
    web services
  %li
    %a{ :href => "#" } RSS, Atom:
    standardized web syndication
  %li
    %a{ :href => "http://seleniumhq.org/", :target => "_blank" } Selenium
    ,
    %a{ :href => "http://wtr.rubyforge.org/", :target => "_blank" } WATIR:
    web application testing
  %li
    %a{ :href => "http://aws.amazon.com/", :target => "_blank" } Amazon Web Services:
    cloud computing for web applications
  %li
    %a{ :href => "http://haml.hamptoncatlin.com/", :target => "_blank" } HAML:
    templating language

%h2
  Project Management
%ul
  %li
    %a{ :href => "http://www.capify.org/", :target => "_blank" } Capistrano:
    automated deployment
  %li
    %a{ :href => "http://git-scm.com/", :target => "_blank" } GIT
    ,
    %a{ :href => "http://subversion.tigris.org/", :target => "_blank" } Subversion
    ,
    %a{ :href => "http://www.perforce.com/", :target => "_blank" } Perforce:
    revision control systems
  %li
    %a{ :href => "http://www.github.com", :target => "_blank" } Github:
    social coding and collaboration
  %li
    %a{ :href => "http://lighthouseapp.com/", :target => "_blank" } Lighthouse
    ,
    %a{ :href => "http://trac.edgewall.org/", :target => "_blank" } Trac
    ,
    %a{ :href => "http://www.redmine.org/", :target => "_blank" } Redmine
    ,
    %a{ :href => "http://www.basecamphq.com/", :target => "_blank" } Basecamp:
    project management and issue tracking
  %li
    %a{ :href => "http://www.campfirenow.com/", :target => "_blank" } Campfire:
    project collaboration

%h2
  Miscellaneous

%ul
  %li
    Programming Languages: Java, C, C++
  %li
    Operating Systems: Windows, Mac OS X, Linux
  %li
    Productivity and Office Software: Microsoft Office and Adobe Photoshop
